body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: rgba(121, 111, 111, 0.436);
    padding: 30px;
    border-radius: 8px;
    width: 300px;
}
h2{
    color: rgb(116, 80, 67);
    text-align: center;
}
