body{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#ToDo-Heading{
    color: antiquewhite;
    display: flex;
    justify-content: center;
}
.container{
    background-color: rgb(45, 42, 42);
    padding: 10px 50px 30px 50px;
}
#todo-input{
    background-color: rgb(16, 16, 16);
    border: none;
    border-radius: 2px;
    padding: 5px;
    color: rgb(199, 185, 167);
}

